--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
scikit-image
omegaconf
opencv-contrib-python
imgaug
ninja
timm
albumentations
jupyterlab
scipy
joblib
scikit-learn
ruamel.yaml
trimesh
pyyaml
imageio
open3d
transformations
einops
gdown
nodejs
xformers==0.0.28.post1
huggingface-hub
easydict
h5py
tensorboard
