#elcipse temporary files
RemoteSystemsTempFiles/
.metadata/
.buildpath
.project
.cproject
*.bin
# Executables
build/
Debug/
Release/
debug/
release/
# Temporary files
*~
*.swp
.pydevproject
#third party library
/boost_1_58_0/
/gmock-1.7.0/
/turtle-1.2.7/
*.csv
python/load_statistics/log.txt
.settings/
python/load_statistics/*.txt
python/load_statistics/temp/
*.pyc
*.trc
*.prefs
python/visualizeStateMachine/nhc.txt
python/visualizeStateMachine/nhc.txt.xml
python/visualizeStateMachine/CoordinatorTraceServer-203.0.113.1.trc.xml
mnist/
data/
tmp/
